@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Osmanya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Osmanya', sans-serif;
    background-color: #111315;
    color: white;
}

html {
    scroll-behavior: smooth;
}

a:link,a:visited,a:active {
    color: white;
    text-decoration: none;
}

.background {
    margin-top: 0;
    height: 850px;
    background-image: url(../images/gym10.webp);
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.menu {
    font-family: 'Oswald', sans-serif;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.open-menu {
    display: none;
}

.close-menu {
    display: none;
}

.menu h1 {
    text-align: center;
    margin-top: 0;
}

.sections li {
    display: inline;
    padding: 0 21px;
}

.sections a {
    position: relative;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.sections a:hover {
    color: #dc3545;
}

.sections a:hover::before {
    background-color: #dc3545;
    border-radius: 3px;
    transform: scaleX(1);
}

.sections a::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: transparent;
    transform: scaleX(0);
    transform-origin: bottom center;
    transition: transform 0.25s ease, background-color 0.25s ease;
    border-radius: 3px;
}

.sections {
    text-align: center;
}

.sections-fix {
    text-align: center;
    display: none;
    font-family: 'Oswald', sans-serif;
}

.sections-fix a::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: transparent;
    transform: scaleX(0);
    transform-origin: bottom center;
    transition: transform 0.25s ease, background-color 0.25s ease;
    border-radius: 3px;
}

.sections-fix.visible {
    font-family: 'Oswald', sans-serif;
    height: 45px;
    display: block;
    position: fixed;
    display: inline-block;
    z-index: 1000;
    width: 100%;
    top: 0px;
    padding-top: 15px;
    background-color: rgb(7, 7, 8);
    animation: slide-bottom 0.4s linear both;
    font-size: 19px;
}

.sections-fix.visible a {
    position: relative;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.sections-fix.visible a:hover {
    color: #dc3545;
}

.sections-fix.visible a:hover::before {
    background-color: #dc3545;
    border-radius: 3px;
    transform: scaleX(1);
}

.sections-fix.visible li {
    display: inline-block;
    padding: 0 26px;
}

.sections-fix.visible ul {
    justify-content: center;
}

.home-container {
    font-family: 'Oswald', sans-serif;
    margin-top: 140px;
    align-items: center;
    text-align: center;
    height: 80%;
}

.home-text {
    top: 0;
    margin-top: 0px;
}

.home-text h1 {
    font-size: 90px;
    font-weight: 600;
    text-transform: uppercase;
    color: #dc3545;
}

.home-text h2 {
    text-transform: uppercase;
    font-family: "Nunito Sans", sans-serif;
    font-size: 60px;
    margin-bottom: 4px;
}

.home-button {
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #dc3545;
    border-top: 2px solid #e4381C;
    border-bottom: 2px solid #e16521;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    transition-duration: 500ms;
    background: linear-gradient(to right, #e16521, #e4381C);
}

.services-title,.class-title,.review-title,.about-title {
    font-family: "Nunito Sans", sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 25px 0;
}

.class {
    margin-top: 10px;
}

.class-container-wrapper {
    height: 400px;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.class-container {
    height: 400px;
    display: flex;
    white-space: nowrap;
    animation: scroll 35s linear infinite;
    animation-timing-function: linear;
    transform-origin: left;
    align-items: center;
    text-align: center;
}

.class-container2 {
    height: 400px;
    display: flex;
    white-space: nowrap;
    animation: scroll2 35s linear infinite;
    animation-timing-function: linear;
    transform-origin: left;
    align-items: center;
    text-align: center;
}

.class-card {
    cursor: pointer;
    min-width: 250px;
    min-height: 150px;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

.class-button {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-left: 70px;
    margin-top: 140px;
    display: none;
    background-color: #dc3545;
    color: #fff;
    border: 2px solid #dc3545;
    border-top: 2px solid #e4381C;
    border-bottom: 2px solid #e16521;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.class-button:hover {
    background: linear-gradient(to right, #e16521, #e4381C);
}

.box {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/box.webp);
    background-size: cover;
}

.box:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/box.webp);
    background-size: cover;
    height: 200px;
}

.box:hover .class-button {
    display: block;
}

.gap {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/gap.webp);
    background-size: cover;
}

.gap:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/gap.webp);
    background-size: cover;
    height: 200px;
}

.gap:hover .class-button {
    display: block;
}

.cross {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/crossfit.webp);
    background-size: cover;
}

.cross:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/crossfit.webp);
    background-size: cover;
    height: 200px;
}

.cross:hover .class-button {
    display: block;
}

.core {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/core.webp);
    background-size: cover;
}

.core:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/core.webp);
    background-size: cover;
    height: 200px;
}

.core:hover .class-button {
    display: block;
}

.boot-camp {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bootcamp.webp);
    background-size: cover;
}

.boot-camp:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/bootcamp.webp);
    background-size: cover;
    height: 200px;
}

.boot-camp:hover .class-button {
    display: block;
}

.spinning {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/spinning.webp);
    background-size: cover;
}

.spinning:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/spinning.webp);
    background-size: cover;
    height: 200px;
}

.spinning:hover .class-button {
    display: block;
}

.body-pump {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bodypump.webp);
    background-size: cover;
}

.body-pump:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/bodypump.webp);
    background-size: cover;
    height: 200px;
}

.body-pump:hover .class-button {
    display: block;
}

.zumba {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/zumba.webp);
    background-size: cover;
}

.zumba:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/zumba.webp);
    background-size: cover;
    height: 200px;
}

.zumba:hover .class-button {
    display: block;
}

.about {
    min-height: 600px;
    text-align: justify;
    align-items: center;
    background: rgb(17, 19, 21);
    background: linear-gradient(157deg, rgba(17, 19, 21, 1) 62%, rgba(225, 101, 33, 0.8717612044817927) 98%, rgba(228, 56, 28, 0.7877275910364145) 100%);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 5fr;
    grid-template-areas: "title photo"
                        "about photo";
}

.about-title {
    grid-area: title;
}

.about-text {
    margin: 30px;
    grid-area: about;
    font-size: 1.2rem;
}

.about-foto {
    height: 100%;
    max-width: 450px;
    background-image: url(../images/gym2.webp);
    background-size: cover;
    grid-area: photo;
}

.services {
    text-align: center;
    background-color: rgba(41, 40, 45, 0.5);
}

.services-container {
    display: grid;
    grid-template-areas: "classes app coach"
                        "equipment space permanence";
    grid-gap: 30px;
    margin: 10px;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-top: 65px;
    min-height: 700px;
    overflow: hidden;
}

.services-card {
    max-width: 600px;
    height: 100%;
}

.services-card img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

.services-card h1 {
    position: relative;
}

.services-card h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #e16521, #e4381C);
    border-radius: 5px;
}

.services-card p {
    margin-top: 25px;
}

.directed-classes.visible {
    grid-area: classes;
    animation: slide-left 0.5s linear both;   
}

.app.visible {
    grid-area: app;
    animation: scale-up-top 0.5s;
}

.coach.visible {
    grid-area: coach;
    animation: slide-right 0.5s linear both;
}

.equipment.visible {
    grid-area: equipment;
    animation: slide-left 0.5s linear both;
}

.space.visible {
    grid-area: space;
    animation: scale-up-top 0.5s;
}

.permanence.visible {
    grid-area: permanence;
    animation: slide-right 0.5s linear both;
}

.reviews {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.wrapper-for-arrows {
    position: relative;
    width: 70%;
    border-radius: 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
    display: grid;
    place-items: center;
    margin-top: 35px;
}

.review-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: calc(2rem + 1vmin);
    width: 100%;
}

#imgDiv {
    border-radius: 50%;
    width: calc(6rem + 4vmin);
    height: calc(6rem + 4vmin);
    position: relative;
    box-shadow: 5px -3px #e4381C;
    background-size: cover;
    margin-bottom: calc(0.7rem + 0.5vmin);
}

#imgDiv::after {
    content: "''";
    font-size: calc(2rem + 2vmin);
    font-family: sans-serif;
    line-height: 150%;
    color: #fff;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background: linear-gradient(to right, #e16521, #e4381C);
    position: absolute;
    top: 10%;
    left: -10%;
    width: calc(2rem + 2vmin);
    height: calc(2rem + 2vmin);
}

#personName {
    margin-bottom: calc(0.7rem + 0.5vmin);
    font-size: calc(1rem + 0.5vmin);
    letter-spacing: calc(0.1rem + 0.1vmin);
    font-weight: bold;
}

#description {
    font-size: calc(0.9rem + 0.3vmin);
    width: 70%;
    max-width: 40rem;
    text-align: justify;
    margin-bottom: calc(1.4rem + 1vmin);
    color: rgb(92, 92, 92);
    line-height: 2rem;
}

.arrow-wrap {
    position: absolute;
    top: 50%;
}

.left-arrow-wrap {
    left: 5%;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.right-arrow-wrap {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 5%;
}

.arrow {
    width: calc(1.4rem + 0.6vmin);
    height: calc(1.4rem + 0.6vmin);
    border: solid #e16521;
    border-width: 0 calc(0.5rem + 0.2vmin) calc(0.5rem + 0.2vmin) 0;
    cursor: pointer;
    transition: transform 0.3s;
}

.arrow:hover {
    transition: 0.3s;
    transform: scale(1.15);
}

.footer {
    margin-top: 50px;
    background-color: rgba(41, 40, 45, 0.5);
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-links {
    width: 20%;
    padding: 0 15px;
}

.footer-links h4 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 15px;
    font-weight: 500;
    position: relative;
    padding-bottom: 10px;
    display: inline-block;
    padding-top: 20px;
}

.footer-links h4::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #e16521, #e4381C);
    border-radius: 5px;
}

.footer-links a {
    text-decoration: none;
    color: #bbbbbb;
    display: inline-block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links a:hover {
    color: #ffffff;
    padding-left: 6px;
}

.social-link {
    margin-top: 8px;
}

.social-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all .5s ease;
}

.social-link a:hover {
    background: linear-gradient(to right, #e16521, #e4381C);
    padding-left: 0;
}

.copyright {
    text-align: center;
    color: #bbbbbb;
    font-size: 14px;
}

.my-github {
    cursor: pointer;
}


@keyframes slide-bottom {
    0% {
        transform: translateY(-100px)
    }

    100% {
        transform: translateY(0px)
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(-300px)
    }

    100% {
        transform: translateX(0px)
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(300px)
    }

    100% {
        transform: translateX(0px)
    }
}

@keyframes scale-up-top {
    0% {
        transform: scale(.5);
        transform-origin: center top
    }

    100% {
        transform: scale(1);
        transform-origin: center top
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll2 {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media (min-width:1081px) and (max-width: 1200px) {

    .sections li {
        padding: 0 12px;
    }

    #instagram {
        margin-right: 100px;
    }

    .box:hover {
        height: 190px;
    }

    .gap:hover {
        height: 190px;
    }

    .cross:hover {
        height: 190px;
    }

    .core:hover {
        height: 190px;
    }

    .boot-camp:hover {
        height: 190px;
    }

    .spinning:hover {
        height: 190px;
    }

    .body-pump:hover {
        height: 190px;
    }

    .zumba:hover {
        height: 190px;
    }
}

@media (max-width:1080px) {

    p {
        font-size: 17px;
    }

    h2 {
        font-size: 19px;
    }

    .background {
        background-image: url(../images/gym12.webp);
        background-size: cover;
        padding-top: 1px;
    }
    
    .services-title,.class-title,.review-title,.about-title {
        font-size: 35px;
        padding: 20px 0;
    }

    .menu {
        background-color:  rgb(7, 7, 8);
        padding: 0 5px;
        position: fixed;
        z-index: 1;
        top: 0;
        width: 100%;
        display: flex;
    }

    .open-menu,.close-menu {
        display: block;
        display: flex;
        flex-direction: column;
        border: 0;
        background-color: transparent;
        color: #ffffff;
        font-size: 1.88rem;
        cursor: default;
        align-items: end;
        justify-items: end;
        padding-right: 10px;
    }
    
    .close-menu {
        font-size: 2.2rem;
        padding-bottom: 40px;
        padding-top: 10px;
        width: 100%;
    }

    .sections-fix {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 80px;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color:  rgb(7, 7, 8);
        margin: 0;
        z-index: 1;
        box-shadow: 0 0 0 200vmin rgba(0, 0, 0, 0.5);
    }

    .container-nav {
        padding-left: 110px;
        padding-right: 50px;
    }

    .sections-fix.visible-mobile {
        position: fixed;
        opacity: 1;
        visibility: visible;
        z-index: 1;
        animation:scale-up-horizontal-right 0.7s;
    }

    .sections-fix li {
        padding-bottom: 25px;
    }

    .sections-fix ul {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .sections-fix a {
        cursor: default;
    }

    .sections-fix.visible-mobile a:active {
        color: #dc3545;
    }

    .menu h1 {
        display: block;
    }

    .sections {
        display: none;
    }

    .home-text h1 {
        font-size: 64px;
    }

    .home-text h2 {
        font-size: 54px;
        padding: 0 26px;
    }

    .home-button {
        margin-top: 20px;
        cursor: default;
    }

    .home-button:hover {
        transition-duration: 500ms;
        background: transparent;
    }

    .home-button:active {
        transition-duration: 500ms;
        background: linear-gradient(to right, #e16521, #e4381C);
    }

    .class-card {
        min-height: 110px;
        min-width: 200px;
        cursor: default;
    }

    .class-button {
        width: 240px;
        margin-left: 0;
        margin-top: 0px;
        padding-bottom: 80px;
        display: block;
        background-color: transparent;
        color: #bbb;
        border: transparent;
        border-top: transparent;
        border-bottom: transparent;
        font-weight: normal;
        cursor: default;
        font-size: 13px;
        text-decoration: underline;
    }
    
    .class-button:hover {
        background: transparent;
    }

    .box:hover .class-button {
        display: block;
    }

    .gap:hover .class-button {
        display: block;
    }

    .cross:hover .class-button {
        display: block;
    }

    .core:hover .class-button {
        display: block;
    }

    .boot-camp:hover .class-button {
        display: block;
    }

    .spinning:hover .class-button {
        display: block;
    }

    .body-pump:hover .class-button {
        display: block;
    }

    .zumba:hover .class-button {
        display: block;
    }

    .class-container-wrapper {
        height: 320px;
    }

    .box:hover {
        height: 140px;
    }

    .gap:hover {
        height: 140px;
    }

    .cross:hover {
        height: 140px;
    }

    .core:hover {
        height: 140px;
    }

    .boot-camp:hover {
        height: 140px;
    }

    .spinning:hover {
        height: 140px;
    }

    .body-pump:hover {
        height: 140px;
    }

    .zumba:hover {
        height: 140px;
    }

    .about {
        grid-template-areas: "title title"
                            "about about";
    }

    .about-foto {
        display: none;
    }
 
    .services-container {
        grid-template-areas: "classes"
                            "app"
                            "coach"
                            "equipment"
                            "space"
                            "permanence";
                            padding-left: 40px;
                            padding-right: 40px;
                            grid-gap: 90px;
                            min-height: 2200px;
    }

    .services-card {
        max-width: 500px;
    }

    .services-card h1{
        font-size: 24px;
    }
          
    
    @keyframes slide-right {
        0% {
            transform: translateX(-150px)
        }
    
        100% {
            transform: translateX(0px)
        }
    }
    
    @keyframes slide-left {
        0% {
            transform: translateX(150px)
        }
    
        100% {
            transform: translateX(0px)
        }
    }
    @keyframes scale-up-horizontal-right {
        0% {
            transform:scaleX(.4);transform-origin:right center
        }
        100% {
            transform:scaleX(1);transform-origin:right center
        }
    }

    .directed-classes.visible {
        animation: slide-left 0.5s linear both; 
    }

    .app.visible {
        animation: slide-right 0.5s linear both; 
    }

    .coach.visible {
        animation: slide-left 0.5s linear both;
    }

    .equipment.visible {
        animation: slide-right 0.5s linear both; 
    }

    .space.visible {
        animation: slide-left 0.5s linear both;
    }

    .permanence.visible {
        animation: slide-right 0.5s linear both;
    }

    .wrapper-for-arrows {
        width: 90%;
    }

    #description {
        font-size: calc(0.9rem + 0.3vmin);
        width: 75%;
        line-height: 1.9rem;
    }

    .arrow {
        width: calc(1.2rem + 0.3vmin);
        height: calc(1.2rem + 0.3vmin);
        border: solid #e16521;
        border-width: 0 calc(0.5rem + 0.2vmin) calc(0.5rem + 0.2vmin) 0;
        cursor:default;
        transition: transform 0.3s;
    }

    .arrow:hover {
        transition: 0.3s;
        transform: scale(1);
    }

    .arrow:active {
        transition: 0.3s;
        transform: scale(1.15);
    }

    .footer-row {
        text-align: center;
    }

    .footer-links a{
        cursor: default;
        transition: all .3s ease;
    }

    .footer-links a:hover{
        cursor: default;
        padding-left: 0;
        color: #bbbbbb;
    }

    .footer-links a:active {
        color: #ffffff;
        padding-left: 6px;
    }

    .footer-links {
        display: inline-block;
        width: 40%;
        margin-bottom: 30px;
        font-size: 18px
    }

    .footer-links h4{
        font-size: 22px;
    }

    .social-link a:hover {
        color: #ffffff;
        background: rgb(255, 255, 255, 0.2);
        padding-left: 0;
    }
    
    .social-link a:active {
        background: linear-gradient(to right, #e16521, #e4381C);
        padding-left: 0;
    }

    .my-github {
        cursor: default;
    }
}


@media (max-width:600px) {

    p {
        font-size: 16px;
    }
    h2 {
        font-size: 17px;
    }

    .background {
        background-image: url(../images/gym12.webp);
        background-size: cover;
        padding-top: 1px;
    }

    .services-title,.class-title,.review-title,.about-title {
        font-size: 35px;
        padding: 20px 0;
    }

    .menu {
        background-color:  rgb(7, 7, 8);
        padding: 0 5px;
        position: fixed;
        z-index: 1;
        top: 0;
        width: 100%;
        display: flex;
    }

    .open-menu,.close-menu {
        display: block;
        display: flex;
        flex-direction: column;
        border: 0;
        background-color: transparent;
        color: #ffffff;
        font-size: 1.88rem;
        cursor: default;
        align-items: end;
        justify-items: end;
        padding-right: 10px;
    }
    
    .close-menu {
        font-size: 2.2rem;
        padding-bottom: 40px;
        padding-top: 10px;
        width: 100%;
    }

    .sections-fix {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 80px;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color:  rgb(7, 7, 8);
        margin: 0;
        z-index: 1;
        box-shadow: 0 0 0 100vmin rgba(0, 0, 0, 0.5);
    }

    .container-nav {
        padding-left: 70px;
        padding-right: 50px;
    }

    .sections-fix.visible-mobile {
        position: fixed;
        opacity: 1;
        visibility: visible;
        z-index: 1;
        animation:scale-up-horizontal-right 0.7s;
    }

    .sections-fix li {
        padding-bottom: 25px;
    }

    .sections-fix ul {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .sections-fix a {
        cursor: default;
    }

    .sections-fix.visible-mobile a:active {
        color: #dc3545;
    }

    .menu h1 {
        display: block;
    }

    .home-text h1 {
        font-size: 58px;
    }

    .home-text h2 {
        font-size: 50px;
        padding: 0 26px;
    }

    .home-button {
        margin-top: 20px;
        cursor: default;
    }

    .home-button:hover {
        transition-duration: 500ms;
        background: transparent;
    }

    .home-button:active {
        transition-duration: 500ms;
        background: linear-gradient(to right, #e16521, #e4381C);
    }

    .class-card {
        min-height: 110px;
        min-width: 130px;
        max-width: 130px;
        cursor: default;
    }

    .class-button {
        width: 130px;
        margin-left: 0;
        margin-top: 0px;
        padding-bottom: 80px;
        display: block;
        background-color: transparent;
        color: #bbb;
        border: transparent;
        border-top: transparent;
        border-bottom: transparent;
        font-weight: normal;
        cursor: default;
        font-size: 13px;
        text-decoration: underline;
    }
    
    .class-button:hover {
        background: transparent;
    }

    .box:hover .class-button {
        display: block;
    }

    .gap:hover .class-button {
        display: block;
    }

    .cross:hover .class-button {
        display: block;
    }

    .core:hover .class-button {
        display: block;
    }

    .boot-camp:hover .class-button {
        display: block;
    }

    .spinning:hover .class-button {
        display: block;
    }

    .body-pump:hover .class-button {
        display: block;
    }

    .zumba:hover .class-button {
        display: block;
    }

    .class-container-wrapper {
        height: 320px;
    }

    .box:hover {
        height: 130px;
    }

    .gap:hover {
        height: 130px;
    }

    .cross:hover {
        height: 130px;
    }

    .core:hover {
        height: 130px;
    }

    .boot-camp:hover {
        height: 130px;
    }

    .spinning:hover {
        height: 130px;
    }

    .body-pump:hover {
        height: 130px;
    }

    .zumba:hover {
        height: 130px;
    }
    
    .about {
        grid-template-areas: "title title"
                            "about about";
    }

    .about-foto {
        display: none;
    }
 
    .services-container {
        grid-template-areas: "classes"
                            "app"
                            "coach"
                            "equipment"
                            "space"
                            "permanence";
                            padding-left: 40px;
                            padding-right: 40px;
                            grid-gap: 90px;
                            min-height: 2200px;
    }

    .services-card h1{
        font-size: 24px;
    }

    .services-card {
        max-width: 400px;
    }     
    
    @keyframes slide-right {
        0% {
            transform: translateX(-150px)
        }
    
        100% {
            transform: translateX(0px)
        }
    }
    
    @keyframes slide-left {
        0% {
            transform: translateX(150px)
        }
    
        100% {
            transform: translateX(0px)
        }
    }

    @keyframes scale-up-horizontal-right {
        0% {
            transform:scaleX(.4);transform-origin:right center
        }
        100% {
            transform:scaleX(1);transform-origin:right center
        }
    }

    .directed-classes.visible {
        animation: slide-left 0.4s linear both; 
    }

    .app.visible {
        animation: slide-right 0.4s linear both; 
    }

    .coach.visible {
        animation: slide-left 0.4s linear both;
    }

    .equipment.visible {
        animation: slide-right 0.4s linear both; 
    }

    .space.visible {
        animation: slide-left 0.4s linear both;
    }

    .permanence.visible {
        animation: slide-right 0.4s linear both;
    }

    .wrapper-for-arrows {
        width: 92%;
    }

    #description {
        font-size: calc(0.8rem + 0.4vmin);
        width: 75%;
        line-height: 1.8rem;
    }

    .arrow {
        width: calc(1.1rem + 0.3vmin);
        height: calc(1.1rem + 0.3vmin);
        border: solid #e16521;
        border-width: 0 calc(0.5rem + 0.2vmin) calc(0.5rem + 0.2vmin) 0;
        cursor: default;
        transition: transform 0.3s;
    }

    .arrow:hover {
        transition: 0.3s;
        transform: scale(1);
    }

    .arrow:active {
        transition: 0.3s;
        transform: scale(1.15);
    }

    .footer-row {
        text-align: center;
    }
    
    .footer-links {
        width: 100%;
        margin-bottom: 30px;
        font-size: 18px;
    }
    
    .footer-links a{
        cursor: default;
        transition: all .3s ease;
    }

    .footer-links a:hover{
        cursor: default;
        padding-left: 0;
        color: #bbbbbb;
    }

    .footer-links a:active {
        color: #ffffff;
        padding-left: 6px;
    }

    .footer-links h4{
        font-size: 28px;
    }

    .social-link {
        margin-top: 8px;
    }
    
    .social-link a:hover {
        color: #ffffff;
        background: rgb(255, 255, 255, 0.2);
        padding-left: 0;
    }
    
    .social-link a:active {
        background: linear-gradient(to right, #e16521, #e4381C);
        padding-left: 0;
    }

    .my-github {
        cursor: default;
    }

}
